<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325805109244-oat697km74uducsb30smbfknvvno96ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325805109244-oat697km74uducsb30smbfknvvno96ip</string>
	<key>API_KEY</key>
	<string>AIzaSyB5azIucUthB3JatQ6OvmatAHJ8ivaAwQY</string>
	<key>GCM_SENDER_ID</key>
	<string>325805109244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hifzTracker</string>
	<key>PROJECT_ID</key>
	<string>hifz-tracker-4kb4r</string>
	<key>STORAGE_BUCKET</key>
	<string>hifz-tracker-4kb4r.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325805109244:ios:75e249ff44322e6bb18c79</string>
</dict>
</plist>